{% extends "page-admin/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/page-admin/chefs/create.css">
{% endblock head %}

{% block title %}
    <title>Criar - Admin Foodfy</title>
{% endblock %}

{% block content %}

    <form method="POST" action="/admin/chefs">
        <div class="header-form">
            <h1>Criando chef</h1>
            <div class="buttons">
                <button type="submit" class="save">Salvar chef</button>
            </div>
        </div>

        <div class="inputs">
            <div class="input">
                <label for="name">Nome</label>
                <input type="text" name="name" value="{{ chef.name }}" placeholder="Nome do chef">
            </div>

            <div class="input">
                <label for="avatar_url">Avatar</label>
                <input type="url" name="avatar_url" value="{{ chef.avatar_url }}" placeholder="http://...">
            </div>
        </div>
    </form>
{% endblock %}