{% extends "page-admin/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/page-admin/edit.css">
{% endblock head %}

{% block title %}
    <title>Editar - Admin Foodfy</title>
{% endblock %}

{% block content %}

    <form action="/admin/recipes?_method=PUT" method="POST">
        <div class="header-form">
            <h1>Editando receita</h1>
            <div class="buttons">
                <button type="submit" class="delete">Deletar</button>
                <button type="submit" class="save">Salvar receita</button>
            </div>
        </div>

        <div class="inputs">
            <div class="input">
                <label for="image">Imagem da receita</label>
                <input type="url" name="image" value="{{recipe.image}}" placeholder="http://...">
            </div>

            <div class="input">
                <label for="ingredients">Ingredientes</label>
                <input type="text" name="ingredients[]" value="{{recipe.ingredients}}" placeholder="Ingredientes">
                <button>+ novo ingrediente</button>
                <!--alterar a tag A para button-->
            </div>

            <div class="input">
                <label for="preparations">Modo de preparo</label>
                <input type="text" name="preparations[]" value="{{recipe.preparations}}" placeholder="Modo de preparo">
                <button>+ novo passo</button>
                <!--alterar a tag A para button-->
            </div>

            <div class="input">
                <label for="information">Informações adicionais</label>
                <textarea name="information">{{recipe.information}}</textarea>
            </div>
        </div>
        <input type="hidden" name="id" value="{{recipe.id}}">
    </form>
{% endblock %}