{% extends "page-admin/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/page-admin/edit.css">
{% endblock head %}

{% block title %}
    <title>Editar - Admin Foodfy</title>
{% endblock %}

{% block content %}

    <form action="">
        <div class="header-form">
            <h1>Editando receita</h1>
            <div class="buttons">
                <button type="submit" class="delete">Deletar</button>
                <button type="submit" class="save">Salvar receita</button>
            </div>
        </div>

        <div class="inputs">
            <div class="input">
                <label for="image">Imagem da receita</label>
                <input type="url" name="image" value="" placeholder="http://...">
            </div>

            <div class="input">
                <label for="ingredients">Ingredientes</label>
                <input type="text" name="ingredients[]" value="" placeholder="Ingredientes">
                <a href="#">+ novo ingrediente</a>
                <!--alterar a tag A para button-->
            </div>

            <div class="input">
                <label for="preparations">Modo de preparo</label>
                <input type="url" name="preparations[]" value="" placeholder="Modo de preparo">
                <a href="#">+ novo passo</a>
                <!--alterar a tag A para button-->
            </div>

            <div class="input">
                <label for="information">Informações adicionais</label>
                <textarea name="information"></textarea>
            </div>
        </div>
    </form>
{% endblock %}