<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/global.css">
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/responsive.css">

        {% block title %}{% endblock %}
    </head>
    <body>
        <div class="tudo">

            <header>
                <div class="container">
                    <div class="logo">
                        <img src="/assets/logo-white.png" alt="logo foodfy">
                    </div>
                    <a href="/admin/recipes">RECEITAS</a>
                    <a href="/admin/chefs">CHEFS</a>
                </div>

            </header>

            <div class="container">

                {% block content %}{% endblock %}

            </div>
        </div>

        <script src="/scripts.js"></script>
    </body>
</html>