* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;    
}

body {
    background-color: rgb(255, 252, 252);
}

.tudo {
    min-height: 100%;

    position: relative;
}

.container {
    margin: 0 auto;
    padding: 0px 8% 12%;
    width: 100%;
    max-width: 1200px; 
 
}

a {
    text-decoration: none;
}
