* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: rgb(255, 248, 248);
}

.container {
    margin: 0 auto;
    padding: 0 8%;
    width: 100%;
    max-width: 1200px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}