header .container{
    display: flex;
    align-items: center;

    height: 100px;

    padding-bottom: 0;
}

.logo {
    margin-right: 16%;
}

.nav a {
    color: black;
}

.nav a:nth-child(1) {
    margin-right: 32px;
}


/* ============== footer ============= */

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 105, 180, 0.431);

    height: 65px;

    color: white;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}



