header {
    display: flex;
    align-items: center;

    height: 100px;
}

.logo {
    margin-right: 16%;
}

.nav a {
    color: black;
}

.nav a:nth-child(1) {
    margin-right: 32px;
}

/* ========== banner ========= */

section.banner {
    background-color: rgba(255, 105, 180, 0.431);

    display: flex;
    justify-content: space-between;

    padding: 0 8%;

    border-radius: 32px;

    height: 370px;
}

.description-banner {
    align-self: center;
}

.description-banner h1 {
    font-size: 32px;
    letter-spacing: 2px;

    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);

    color: white;

    margin-bottom: 6%;
}

.description-banner p {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

.img-banner {
    align-self: flex-end;
}

/* ========= recipes ======== */

section.recipes {
    margin-top: 6%;
}

section.recipes h1 {
    font-size: 24px;

    margin-bottom: 16px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.recipe img {
    width: 100%;

    border-radius: 16px;

    margin-bottom: 8px;

    cursor: pointer;
}

.recipe h2 {
    font-size: 18px;
    font-weight: normal;

    margin-bottom: 4px;
}

.recipe h4 {
    font-size: 14px;
    color: #777777;
    font-weight: normal;
}

/* ============== footer ============= */

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 105, 180, 0.431);

    height: 65px;

    margin-top: 8%;

    color: white;
}

/* =============== page about ============== */

section.about h1 {
    font-size: 24px;

    margin: 24px 0;
}

section.about p {
    font-size: 18px;
    line-height: 28px;

    color: #444444;
}

/* =========== page recipes ============ */
