{% extends "page-admin/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/page-admin/chefs/detail.css">
{% endblock head %}

{% block title %}
    <title>Detalhes - Admin Foodfy</title>
{% endblock %}

{% block content %}

    <section class="chef" id="{{chef.id}}">

        <div class="edit">
            <h1>Chef:
                {{ chef.name }}</h1>
            <a href="/admin/chefs/{{chef.id}}/edit">Editar chef</a>
        </div>

        <div class="banner-chef">
            <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
            <h1>{{chef.name}}</h1>
            <h3>{{chef.recipes_number}}</h3>
        </div>

        <h2>Receitas</h2>

        <div class="grid">
            {% for recipe in recipes %}
                <div class="recipe">
                    <a href="/recipes/{{recipe.id}}"><img src="{{ recipe.image }}" alt="{{ recipe.title }}"></a>
                    <h2>{{ recipe.title }}</h2>
                    <h4>por
                        {{ recipe.author }}</h4>
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}