header {
  background-color: black;
}

header .container {
  justify-content: flex-start !important;
}

header .logo {
  margin-right: 5%;
}

header a {
  font-weight: bold;
  font-size: 15px;

  color: #999999;
}

header a + a {
  margin-left: 5%;
}

.edit {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 55px 0 24px 0;
}

.edit h1 {
  font-size: 24px;
  font-weight: 700;

  color: #111111;
}

.edit a {
  font-weight: 700;
  font-size: 16px;

  color: #ffffff;
  background-color: #6558c3;

  padding: 10px 25px;

  border-radius: 8px;
}

.banner-chef {
  text-align: center;
}

.banner-chef img {
  width: 30%;

  border-radius: 50%;

  margin-bottom: 50px;
}

.banner-chef h1 {
  font-size: 36px;
  color: #111111;

  margin-bottom: 5px;
}

.banner-chef h3 {
  font-weight: 400;
  font-size: 20px;

  color: #777777;

  margin-bottom: 50px;
}

.chef h2 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.recipe {
  display: flex;
  align-items: center;
}

.recipe img {
  width: 40%;
  height: 60px;

  border-radius: 9px;
}

.recipe div {
  margin-left: 20px;
}

.recipe div h2 {
  margin-bottom: 5px;

  font-size: 18px;
  font-weight: 400;

  color: #111111;
}

.recipe div h4 {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 400;
  
  color: #777777;
}

.recipe div a {
  font-size: 14px;
  font-weight: 700;
  
  color: #6558C3;
}